<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>

    <h3> Listing Co ordinates </h3>
    <style type="text/css">

    </style>
  </head>
  <body>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<table>
  <thead>
    <tr>
      <th>Co Ordinates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motions.each do |motion| %>
      <tr>
        <td><%= motion.x_axis %></td>
        <td><%= motion.y_axis %></td>
        <td><%= motion.z_axis %></td>
        <td><%= link_to 'Show', motion %></td>
        <td><%= link_to 'Edit', edit_motion_path(motion) %></td>
        <td><%= link_to 'Destroy', motion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motion', new_motion_path %>

 <script type="text/javascript"> 

$(function () {
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
      
        var chart;
        $("#container").highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
 
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        var series2 = this.series[1];
                        var series3 = this.series[2];
                        var x_val = 0;
                        var y_val = 0;
                        var z_val = 0;
                        var i = 2;
                        setInterval(function() {
                          $.ajax({
                                type: 'get',
                                dataType: 'json',
                                url: "/get_next",
                                data: {
                                  i_val: i
                                },
                                success: function(data) {
                                  x_val = data.x;
                                  y_val = data.y;
                                  z_val = data.z;
                                  i = data.i;
                                }
                              });
                            var a = (new Date()).getTime(), // current time
                                x = x_val;
                                y = y_val;
                                z = z_val;
                            series.addPoint([a, x], false, true);
                            series2.addPoint([a, y], false, true);
                            series3.addPoint([a, z], true, true);
                            i++;
                        }, 500000);
                    }
                }
            },
            title: {
                text: 'Live Tapped data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: [{
                title: {
                    text: 'X Axis'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            {
                title: {
                    text: 'Y Axis'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },{
                title: {
                    text: 'Z Axis'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            }],
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'X Axis',
                data: (function() {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
 
                    for (i = -19; i <= 0; i++) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                })()
            },
                    {
                name: 'Y Axis',
                data: (function() {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
 
                    for (i = -19; i <= 0; i++) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                })()
            },
                    {
                name: 'Z Axis',
                data: (function() {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
 
                    for (i = -19; i <= 0; i++) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                })()
            }]
        });
    });
 
});


    </script>

</body>
</html>



            