<p id="notice"><%= notice %></p>

<p>
  <strong>X Axis:</strong>
  <%= @motion.x_axis %>
</p>
<p>
  <strong>Y Axis:</strong>
  <%= @motion.y_axis %>
</p>
<p>
  <strong>Z Axis:</strong>
  <%= @motion.z_axis %>
</p>

<%= link_to 'Edit', edit_motion_path(@motion) %> |
<%= link_to 'Back', motions_path %>
